@font-face {
  font-family: Roboto;
  src: url(Roboto.ttf);
}

.weather-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100vh;
  position: absolute;
  right: 0px;
  top: 0px;
}

.weather-holder h1 {
  font-size: 24vmin;
  margin: unset;
  font-family: Roboto;
  font-weight: 600;
}

.weather-holder h2 {
  font-size: 6vmin;
  margin: unset;
  font-family: Roboto;
  font-weight: 600;
}

.weather-holder h3 {
  font-size: 6vmin;
  margin: unset;
  font-family: Roboto;
  font-weight: 400;
}

.weather-holder img {
  height: 8vmin;
  margin: unset;
  font-family: Roboto;
  font-weight: 700;
}
